# ~/.config/chezmoi/chezmoi.toml (managed by chezmoi itself)
[data]
  github_username = "routesmith"
  dotfiles_repo_ssh = "git@github.com:{{ .github_username }}/dotfiles.git"
  dotfiles_repo_https = "https://github.com/{{ .github_username }}/dotfiles.git"
  default_editor = "nvim"
  chezmoi_source_dir = "~/.local/share/chezmoi" # Default source dir
  setup = "complete"
