# Cmd+Alt+P to push clipboard to Windows
cmd + alt - p : {{ .chezmoi.homeDir }}/.local/bin/clip-push-to-windows.sh

# F13 launches the Keychron Launcher Chrome app
f13 : open "{{ .chezmoi.homeDir }}/Applications/Chrome Apps.localized/keychron Launcher.app"
